<h1>List of articles</h1>
<%= link_to "Add an article", new_article_path %>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article_path(article) do %>
        <h4><%= article.title %></h4>
      <% end %>
      <%= link_to "Edit", edit_article_path(article) %>
      <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
      <p><%= article.content %></p>
    </li>
  <% end %>
</ul>
